.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #18181b;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-logo img {
  height: 60px;
  height: 60px;
  margin-right: 20px;
}

.navbar-links a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.icon-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.get-turbo-button {
  background-color: #9147ff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.profile-pic img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  object-fit: cover;
}
